h2, h3, h4 {
  text-align: center;
}

body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoNbXmpkstKLm1zzI4JM-Tauyw2DGkYnKuow&usqp=CAU');
}

#spinner {
  align-items: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#scrabble {
  width: 75%;
}

#card {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
}

#trash {
  text-align: left;
}